@model IList<OrderLineResult>

@section homepageshare
{
    <partial name="homepageshare" />
}
<h1>All orderlines</h1>
<button class="boxke2 hoverbutton "><a class="nav-link text-dark notselectable" asp-area="" asp-controller="Order" asp-action="Index">Back</a></button>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Product name</th>
        <th scope="col">Description</th>
        <th scope="col">Rented at</th>
        <th scope="col">Expires at</th>
        <th scope="col">Returned at</th>
       
    </tr>
    </thead>
	<tbody>
	@foreach (var orderline in Model)
	{
		<partial name="IndexPartial" model="orderline" />
	}
	</tbody>
	
</table>
