@model OrderLineResult

<h1>Do you want to return this article: <span class="alert-info">@Model.ProductName</span> ?</h1>
<form method="post">
    <a asp-controller="Home" asp-action="Return" class="btn btn-secondary">
         No
    </a>
    <button type="submit" class="btn btn-danger">
         Yes
    </button>
</form>
