@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.IO.Compression
@model CustomerResult

<h1>Edit customer</h1>
<form asp-action="EditPage" asp-method="post" asp-route-id="@Model.Id">
    
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">First name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label">Last name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
   
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label">Phone number</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        
    </div>

    <a asp-action="Index" class="btn btn-secondary">Back</a>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>