@using Microsoft.AspNetCore.Mvc.TagHelpers
@model VivesRental.Model.Customer

<tr>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.Email</td>
    <td>@Model.PhoneNumber</td>
    <td></td>
    <td></td>
</tr>
