@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IList<CustomerResult>

<h1>Customer management</h1>
<button class="alert-success"><a class=" alert-success" asp-controller="CustomerManagement" asp-action="AddCustomer"> Add a customer </a></button>

<table class="table">
    <thead>
    <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Orders</th>
        <th scope="col">Pending orders</th>
        <th scope="col">Delete/Edit</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model)
    {
        <partial name="IndexPartial" model="customer" />
    }
    </tbody>
</table>