@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IList<CustomerResult>
@section homepageshare
    {
        <partial name="homepageshare" />
}

<h1>All customers</h1>
<button class="boxke2 hoverbutton "><a class="nav-link text-dark notselectable" asp-area="" asp-controller="Home" asp-action="Index">Back</a></button>
<button class="boxke2 hoverbutton"><a class="nav-link text-dark notselectable" asp-controller="CustomerManagement" asp-action="AddCustomer"> Add a customer </a></button>
<table class="table">
    <thead>
    <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Orders</th>
        <th scope="col">Pending orders</th>
        <th scope="col">Delete/Edit</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model)
    {
        <partial name="IndexPartial" model="customer" />
    }
    </tbody>
</table>


