@using Microsoft.AspNetCore.Mvc.TagHelpers
@model OrderResult
@{
    var customers = ViewData["Customers"] as IList<CustomerResult>;

}
<h1>Create Order</h1>
<form asp-action="Create" method="post">

    <div class="mb-3">
        <label asp-for="CustomerId" class="form-label">Customer</label>
        <select asp-for="CustomerId" class="form-control">
            <option value="">Select a customer</option>
            @if (customers != null)
            {
                foreach (var customer in customers)
                {
                  <option value="@customer.Id">@customer.FirstName @customer.LastName</option>
                }
            }
        </select>

    </div>

    <a asp-action="Index" class="btn btn-secondary">Back</a>
    <button type="submit" class="btn btn-primary">Add</button>
</form>