@model Exception

@section homepageshare
{
    <partial name="homepageshare" />
}
<h1>@Model.Message.</h1>


<button class="boxke2 hoverbutton">
    <a class="nav-link text-dark notselectable" asp-controller="Product"
       asp-action="Index">Back</a>
</button>