@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ArticleRequest
@{
    var products = ViewData["products"] as IList<ProductResult>;
    
}
<h1>Add article</h1>
<form asp-action="Create" method="post">
    
    <div class="mb-3">
        <label asp-for="ProductId" class="form-label">For product:</label>
        <select asp-for="ProductId" class="form-control">
            <option value="">(Choose product)</option>
            @if (products != null)
            {
                foreach (var product in products)
                {
                    <option value="@product.Id">@product.Name</option>
                }
            }
        </select>
    </div>
    <div class="mb-3">
        <div class="mb-3">
            <label class="form-label">Status:</label><br>
            <input type="radio" asp-for="Status" value="0" /> Normal<br>
            <input type="radio" asp-for="Status" value="1" /> Broken<br>
            <input type="radio" asp-for="Status" value="2" /> InRepair<br>
            <input type="radio" asp-for="Status" value="3" /> Lost<br>
            <input type="radio" asp-for="Status" value="4" /> Destroyed
        </div>
   
    </div>

    <a asp-action="Index" class="btn btn-secondary">Back</a>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
