@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ArticleResult

<h1>Edit status of article</h1>
<form asp-action="Edit" asp-method="post" asp-route-id="@Model.Id">

    <div class="mb-3">
        <label asp-for="Status" class="form-label">Status</label>
        <input asp-for="Status" class="form-control" />

    </div>

    <a asp-action="Index" class="btn btn-secondary">Back</a>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>