@model IList<ArticleResult>
@{
    var productId = ViewBag.ProductId;
}
<h1>All articles for product:</h1>
<h2>@productId </h2>
<br>
<button class="alert-success"><a class=" alert-success" asp-controller="Article" asp-action="Create"> Add new article </a></button>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ProductName</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var article in Model)
    {
        <partial name="indexPartial" model="article" />
    }
    </tbody>
</table>