@model IList<ArticleResult>
@{
    var productName = ViewBag.productName;
}
<h1>All articles for product:</h1>
<h2>@productName</h2>
<br>
<button class="alert-success"><a class=" alert-success" asp-controller="Article" asp-action="Create"> Add new article </a></button>

<table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th>Delete/Edit</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var article in Model)
    {
        <partial name="ProductPartial" model="article" />
    }
    </tbody>
</table>