
@{
    ViewData["Title"] = "Home Page";
}
@section homepageshare
{
    <partial name="homepageshare"/>
}


<div class="text-center">
    <h1 class="titelke"><span class="redtext">VIVES</Span><span class="bluetext">Rental</span></h1>
    
</div>
